@import './static.scss';
nav{
  display: flex;
  justify-content: space-between;
  height: 5em;
  align-items: center;
  position: sticky;
  z-index: 100;
  background-color: $color1;
  .logo{
    margin-left: 3%;
    font: 3rem $font1 ;
    color: $color2;
  }
  .navElements{
    margin-right: 6%;
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    font: 1.3rem $font2 ;
    .icon{
      display: none;
      display: none;
      color: $color2;
    }
    .navLinksPhone{
      color: $color2;
      >ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9%;
        >li{
          list-style: none;
          a{
            color: $color2;
            position: relative;
            display: inline-block;
            text-decoration: none;
            &:after{
              content: "";
              display: block;
              position: absolute;
              width: 0;
              bottom: 0;
              height: 2px;
              margin: -5px 0;
              left: 0;
              color: $color2;
              background-color: $color3;
              transition: all 0.7s ease 0s;
            }
            &:hover:after{
               width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 920px) {
  nav{
    .logo{
      font-size: 2rem;
    }
    .navElements{
       .icon{
         font-size: 2rem;
         display: block;
         z-index: 110;
       }
      
      .navLinksPhone{
      display: block;
      position: fixed;
      opacity: 0;
      top: 0;
      bottom: 0;
      left: 0;
      transform: translateY(-100%);
      transition: transform 1s ease;
         >ul{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 9%;
        >li{
          list-style: none;
          a{
            color: $color2;
            position: relative;
            display: inline-block;
            text-decoration: none;
            &:after{
              content: "";
              display: block;
              position: absolute;
              width: 0;
              bottom: 0;
              height: 2px;
              margin: -5px 0;
              left: 0;
              color: $color2;
              background-color: $color3;
              transition: transform 0.3s ease-in 0s;
            }
            &:hover:after{
               width: 100%;
            }
          }
        }
      } 
    }
      .navLinksPhone{
        left: 0%;
        width: 100%;
        display: flex;
        // transform: translateX(0);
        justify-content: center;
        align-items: center;
        background-color: $color1trans;
        opacity: 1;
        height:40%;
        // transition: transform 3s;
      }
      .active{
       transform: translateY(0);
      }
  } 
  }
}
